{{set . "title" "Group Access Requests"}}
{{set . "headerTitle" "Group Access Requests"}}
{{template "header.html" .}}

<!-- Area Chart -->
<div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Pending Requests</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            {{ if not .userGroupMap }}
            <div class="alert alert-warning" role="alert">
                No pending requests!
            </div>
            {{ else }}
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>User Name</th>
                            <th>Group Name</th>
                            <th>Role</th>
                            <th>Added By</th>
                            <th>Creation Time</th>
                            <th>Approve</th>
                            <th>Reject</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $i, $req := .userGroupMap }}
                        <tr>
                            <td>{{ increment $i }}</td>
                            <td>{{ printf "%s %s" $req.FirstName $req.LastName }}</td>
                            <td>{{ $req.GroupName }}</td>
                            <td>
                                {{ if $req.IsLeader }}
                                    Group Leader
                                {{ else }}
                                    Member
                                {{ end }}
                            </td>
                            <td>{{ printf "%s %s" $req.CreatedByFirstName $req.CreatedByLastName }}</td>
                            <td>{{ datetime $req.CreationTime }}</td>
                            <td>
                                <form action="/requests/groupaccess" method="POST">
                                    <input type="hidden" name="groupID" value="{{ $req.GroupID }}">
                                    <input type="hidden" name="memberID" value="{{ $req.UserID }}">
                                    <input type="hidden" name="approve" value="true">
                                    <input type="submit" value="Approve" class="btn btn-primary">
                                </form>
                            </td>
                            <td>
                                <form action="/requests/groupaccess" method="POST">
                                    <input type="hidden" name="groupID" value="{{ $req.GroupID }}">
                                    <input type="hidden" name="memberID" value="{{ $req.UserID }}">
                                    <input type="hidden" name="approve" value="false">
                                    <input type="submit" value="Reject" class="btn btn-primary">
                                </form>
                            </td>
                        </tr>
                        {{ end }}

                    </tbody>
                </table>
                {{ end }}
            </div>

        </div>
    </div>
</div>

{{template "footer.html" .}}